.users {
  height: 100vh;
  display: flex;
  justify-content: center;

  &_content {
    width: 90%;

    @media (min-width: 768px) {
      width: 80%;
    }

    @media (min-width: 1200px) {
      width: 40%;
    }

    margin-top: 24px;

    &_header {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
}
