@if( isModalOpen$ | async){
<div class="modal_backdrop" (click)="onBackdropClick($event)">
  <div class="modal">
    <p class="modal_title">Add user</p>
    <form [formGroup]="addUserForm" class="modal_form" (submit)="onSubmit()">
      <div class="modal_form_input_container">
        <label for="userName">User's name: </label>
        <input type="text" name="userName" formControlName="name" />
        @if(addUserForm.get('name')?.hasError('required') &&
        addUserForm.get('name')?.touched){
        <small>Name is required</small>
        } @if(addUserForm.get('name')?.hasError('userNameExsists')){
        <small>User with that name already exsists</small>
        }
      </div>
      <div class="modal_form_input_container">
        <label for="isUserActive">Is the user active?: </label>
        <input type="checkbox" name="isUserActive" formControlName="isActive" />
      </div>
      <div class="modal_buttons">
        <button
          type="submit"
          class="modal_buttons_action button button_main"
          [disabled]="!addUserForm.valid"
        >
          @if(addUserForm.get('name')?.pending){
          <span class="loader"></span>
          } @else{ Create }
        </button>
        <button
          type="reset"
          (click)="onCancel()"
          class="modal_buttons_cancel button button_secondary"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
}
