:host {
  margin-top: 16px;
  display: block;
}

.table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid;

  th,
  td {
    border: 1px solid;
    padding: 8px;
  }

  th {
    font-weight: normal;
  }

  td {
    font-weight: bold;
  }

  button {
    width: 90px;
  }

  .user-active {
    background-color: rgb(52, 199, 89);
    color: #333;
  }

  .user-inactive {
    background-color: rgb(255, 59, 48);

    color: #f0f0f0;
  }
}
